@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_boldbold';
    src: url('../fonts/klavika_bold_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_lightlight';
    src: url('../fonts/klavikalight-osf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_mediumplain';
    src: url('../fonts/klavikamedium-plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_regularregular';
    src: url('../fonts/klavikaregular-osf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_regularplain';
    src: url('../fonts/klavikaregular-plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}