html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif; }
  body a {
    font-family: 'Roboto', sans-serif; }

header .header-wrap {
  background: #F2F4F7; }

header .header-inner {
  max-width: 1234px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }
  header .header-inner ul {
    display: flex;
    flex-direction: row;
    align-self: center; }
    header .header-inner ul a {
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
      color: #111111;
      text-transform: uppercase;
      margin-right: 40px; }
    header .header-inner ul .heart {
      background: url("../../images/sprite.png") no-repeat -8px -8px;
      width: 18px;
      height: 17px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: -4px; }
  header .header-inner .cabinet {
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #444444; }
    header .header-inner .cabinet span {
      background: url("../../images/sprite.png") no-repeat -205px -4px;
      width: 30px;
      height: 28px;
      display: inline-block;
      margin-bottom: -7px;
      margin-right: 15px;
      position: relative; }
      header .header-inner .cabinet span:after {
        content: attr(data-badge);
        position: absolute;
        bottom: -5px;
        right: -5px;
        background: #FF0000;
        font-weight: 400;
        font-size: 9px;
        line-height: 16px;
        color: #FFFFFF;
        width: 16px;
        height: 16px;
        text-align: center;
        border-radius: 50%; }

main {
  background: #F2F4F7; }
  main h1 {
    font-weight: 600;
    font-size: 27px;
    line-height: 1;
    color: #11B5ED;
    text-transform: uppercase;
    margin-bottom: 56px; }
    main h1:before, main h1:after {
      content: "";
      width: 10px;
      height: 10px;
      background: #12B6ED;
      border-radius: 50%;
      display: inline-block;
      margin-bottom: 5px; }
    main h1:before {
      margin-right: 28px; }
    main h1:after {
      margin-left: 28px; }
  main .main-header-wrap {
    background: #FFFFFF;
    box-shadow: 0px 4px 7.7px rgba(0, 0, 0, 0.08);
    border-radius: 0 0 15px 15px; }
    main .main-header-wrap .main-header {
      max-width: 1234px;
      height: 98px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      main .main-header-wrap .main-header .logo {
        background: url("../../images/sprite.png") no-repeat -36px -6px;
        width: 148px;
        height: 56px;
        display: block;
        margin-right: 40px; }
      main .main-header-wrap .main-header .pointer {
        width: 117px;
        height: 24px;
        margin-right: 62px; }
        main .main-header-wrap .main-header .pointer:hover ul {
          display: block;
          background: #FFFFFF;
          z-index: 100;
          position: relative; }
        main .main-header-wrap .main-header .pointer ul {
          display: none; }
        main .main-header-wrap .main-header .pointer a {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.5;
          color: #111111; }
        main .main-header-wrap .main-header .pointer > a {
          position: relative; }
          main .main-header-wrap .main-header .pointer > a:after {
            position: absolute;
            top: 5px;
            left: 80px;
            content: "";
            background: url("../../images/sprite.png") no-repeat -249px -2px;
            width: 8px;
            height: 5px; }
          main .main-header-wrap .main-header .pointer > a:hover ul {
            display: block; }
      main .main-header-wrap .main-header .search {
        margin-right: 14px; }
        main .main-header-wrap .main-header .search form {
          width: 544px;
          height: 56px;
          border: 1px solid #00C0FF;
          border-radius: 26px;
          display: flex;
          align-items: center; }
          main .main-header-wrap .main-header .search form input {
            border: none;
            font-weight: 200;
            font-size: 16px;
            line-height: 1.5;
            color: #111111;
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            margin-left: 15px;
            width: 450px; }
          main .main-header-wrap .main-header .search form button {
            background: #12B6ED;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            border: none;
            margin-left: 7px; }
            main .main-header-wrap .main-header .search form button .search-icon {
              background: url("../../images/sprite.png") no-repeat -272px -2px;
              width: 22px;
              height: 22px;
              display: block;
              margin-left: 4px; }
      main .main-header-wrap .main-header .ad {
        display: inline-block;
        width: 292px;
        height: 56px;
        background: #43B05C;
        border-radius: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
        text-transform: uppercase; }
        main .main-header-wrap .main-header .ad span:before {
          content: "";
          background: url("../../images/sprite.png") no-repeat -323px -7px;
          width: 12px;
          height: 13px;
          display: inline-block;
          margin-right: 12px; }
  main .page {
    max-width: 1234px;
    margin: 53px auto 0; }
    main .page .breadcrumb {
      display: flex;
      margin-bottom: 19px; }
      main .page .breadcrumb li {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #00C0FF;
        font-family: 'Roboto', sans-serif;
        margin-right: 15px; }
        main .page .breadcrumb li a {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #5D5D5D; }
          main .page .breadcrumb li a span:after {
            content: "";
            background: url("../../images/sprite.png") no-repeat -353px -4px;
            width: 6px;
            height: 13px;
            display: inline-block;
            margin-left: 10px; }
    main .page .page-main {
      display: flex;
      font-family: 'Roboto', sans-serif; }
      main .page .page-main .sorted {
        width: 831px;
        height: 73px;
        border: 2px solid #C4C4C4;
        border-radius: 16px;
        margin-bottom: 55px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #373737;
        box-sizing: border-box;
        padding: 15px 16px 0 17px; }
        main .page .page-main .sorted select {
          border: 1px solid #E1E3E6;
          height: 36px;
          background: #F2F4F7;
          border-radius: 7px;
          margin-left: 10px; }
        main .page .page-main .sorted span {
          margin-left: 30px; }
        main .page .page-main .sorted .list-style {
          font-weight: 400;
          font-size: 30px;
          line-height: 1;
          color: #B8B8B8; }
          main .page .page-main .sorted .list-style span {
            margin-left: 0; }
          main .page .page-main .sorted .list-style.active {
            color: #111111; }
          main .page .page-main .sorted .list-style:nth-child(2n) {
            margin-right: 205px;
            margin-left: 10px; }
      main .page .page-main .aside {
        width: 364px;
        margin-right: 31px; }
        main .page .page-main .aside legend {
          border-bottom: 1px solid #DCDCDC;
          font-weight: 700;
          font-size: 20px;
          line-height: 1.5;
          color: #111111;
          text-transform: uppercase;
          padding: 27px 0 7px 35px; }
      main .page .page-main .aside-bottom {
        width: 364px;
        padding-bottom: 50px;
        border: 2px solid #C4C4C4;
        border-radius: 15px; }
        main .page .page-main .aside-bottom .pointer {
          width: 302px;
          height: 23px;
          margin: 12px 0 0 34px; }
          main .page .page-main .aside-bottom .pointer a {
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            color: #383838; }
          main .page .page-main .aside-bottom .pointer:hover {
            margin-bottom: 170px; }
          main .page .page-main .aside-bottom .pointer:hover ul {
            display: block;
            padding: 14px 0 8px 15px; }
            main .page .page-main .aside-bottom .pointer:hover ul li {
              margin-bottom: 11px; }
              main .page .page-main .aside-bottom .pointer:hover ul li a {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #747474; }
          main .page .page-main .aside-bottom .pointer ul {
            display: none; }
          main .page .page-main .aside-bottom .pointer > a {
            position: relative; }
            main .page .page-main .aside-bottom .pointer > a:after {
              position: absolute;
              top: 5px;
              left: 290px;
              content: "";
              background: url("../../images/sprite.png") no-repeat -249px -2px;
              width: 8px;
              height: 5px; }
            main .page .page-main .aside-bottom .pointer > a:hover ul {
              display: block; }
      main .page .page-main .aside-top {
        width: 364px;
        border: 2px dotted #C4C4C4;
        border-radius: 15px;
        margin-bottom: 38px; }
        main .page .page-main .aside-top form p {
          display: flex;
          flex-direction: column; }
          main .page .page-main .aside-top form p input, main .page .page-main .aside-top form p select {
            width: 275px;
            height: 36px;
            border: 1px solid #E1E3E6;
            border-radius: 5px;
            margin: 18px 0 0 56px;
            padding-left: 23px;
            background: #F2F4F7;
            font-weight: 400;
            font-size: 16;
            line-height: 1.5;
            color: #A3A3A3; }
          main .page .page-main .aside-top form p [type="radio"]:checked,
          main .page .page-main .aside-top form p [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px; }
          main .page .page-main .aside-top form p [type="radio"]:checked + label,
          main .page .page-main .aside-top form p [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 38px;
            margin-top: 18px;
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #A3A3A3; }
          main .page .page-main .aside-top form p [type="radio"]:checked + label {
            color: #111111; }
          main .page .page-main .aside-top form p [type="radio"]:checked + label:before,
          main .page .page-main .aside-top form p [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 17px;
            height: 17px;
            border: 3px solid #B8B8B8;
            background: #F2F4F7; }
          main .page .page-main .aside-top form p [type="radio"]:checked + label:after,
          main .page .page-main .aside-top form p [type="radio"]:not(:checked) + label:after {
            content: '\2714';
            width: 17px;
            height: 17px;
            background: #12B6ED;
            position: absolute;
            top: 0;
            left: 0;
            color: #FFF; }
          main .page .page-main .aside-top form p [type="radio"]:not(:checked) + label:after {
            opacity: 0; }
          main .page .page-main .aside-top form p [type="radio"]:checked + label:after {
            opacity: 1; }
          main .page .page-main .aside-top form p label {
            padding-left: 19px; }
          main .page .page-main .aside-top form p span {
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
            color: #383838;
            margin: 18px 0 0 36px; }
        main .page .page-main .aside-top form .radio {
          padding-left: 56px; }
          main .page .page-main .aside-top form .radio span {
            margin-left: -19px; }
          main .page .page-main .aside-top form .radio .shoes {
            margin-left: 0; }
            main .page .page-main .aside-top form .radio .shoes option {
              color: #111111; }

.search-results {
  width: 831px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.product-item {
  width: 262px;
  height: 379px;
  border: 2px dotted #C4C4C4;
  border-radius: 19px;
  background: #FFFFFF;
  margin-bottom: 55px; }
  .product-item img {
    border-radius: 19px 19px 0 0; }
  .product-item .product-list {
    padding: 16px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #111111;
    text-align: center; }
    .product-item .product-list .city {
      font-weight: 400;
      font-size: 14px;
      line-height: 2;
      color: #00C0FF;
      display: block;
      margin-top: 8px; }
      .product-item .product-list .city:before {
        content: "";
        background: url("../../images/sprite.png") no-repeat -393px -1px;
        width: 11px;
        height: 15px;
        display: inline-block;
        margin-right: 9px;
        margin-bottom: -2px; }
    .product-item .product-list a {
      height: 44px;
      width: 200px;
      background: #12B6ED;
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 44px;
      color: #FFFFFF;
      text-transform: uppercase;
      border-radius: 22px; }

footer {
  background: url("../../images/footer-bg.png");
  background-color: #F2F4F7;
  background-size: cover;
  height: 366px; }
  footer .footer-inner {
    width: 1234px;
    margin: 0 auto;
    padding-top: 107px;
    display: flex;
    justify-content: space-between; }
    footer .footer-inner div {
      text-align: center;
      width: 300px; }
      footer .footer-inner div a {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
        margin-bottom: 16px; }
      footer .footer-inner div .phone {
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 5px 0; }
      footer .footer-inner div .charity {
        text-transform: uppercase;
        background: #00C0FF;
        width: 280px;
        height: 25px;
        border-radius: 8px;
        padding-top: 2px; }
        footer .footer-inner div .charity:before {
          content: "";
          background: url("../../images/sprite.png") no-repeat -706px -20px;
          width: 14px;
          height: 11px;
          display: inline-block;
          margin-right: 7px; }
    footer .footer-inner span {
      display: inline-block;
      margin-bottom: 44px; }
    footer .footer-inner .phone-ico {
      background: url("../../images/sprite.png") no-repeat -422px -7px;
      width: 25px;
      height: 25px; }
    footer .footer-inner .ask-ico {
      background: url("../../images/sprite.png") no-repeat -768px -7px;
      width: 25px;
      height: 25px; }
    footer .footer-inner .home {
      background: url("../../images/sprite.png") no-repeat -514px -5px;
      width: 25px;
      height: 25px; }
    footer .footer-inner .footer-logo {
      background: url("../../images/sprite.png") no-repeat -562px -8px;
      width: 94px;
      height: 36px;
      margin-bottom: 32px; }
  footer .copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center; }
    footer .copyright span:first-child {
      margin-right: 19px; }

.list-style {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  color: #B8B8B8; }
  .list-style span {
    margin-left: 0; }
  .list-style.active {
    color: #111111; }
  .list-style:nth-child(2n) {
    margin-right: 150px; }

.colors {
  margin-bottom: 50px; }
  .colors > span {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #383838;
    margin: 18px 0 20px 36px;
    display: block; }
  .colors .radio-group {
    width: 275px;
    margin-left: 57px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .colors .radio-group span {
      width: 40px;
      height: 38px;
      display: inline-block;
      margin-bottom: 9px;
      position: relative; }
    .colors .radio-group .col-one {
      background: #009CDD; }
    .colors .radio-group .col-two {
      background: #C1004E; }
    .colors .radio-group .col-three {
      background: #43B05C; }
    .colors .radio-group .col-four {
      background: #FFEC00; }
    .colors .radio-group .col-five {
      background: #7E177A; }
    .colors .radio-group .col-six {
      background: #89693E; }
    .colors .radio-group .col-seven {
      background: #DD9EBE; }
    .colors .radio-group .col-eight {
      background: #E8E8E8; }
    .colors .radio-group .col-nine {
      background: #888; }
    .colors .radio-group .col-ten {
      background: #000; }
    .colors .radio-group .col-eleven {
      background: #CC5E1E; }
    .colors .radio-group .col-twelve {
      background: linear-gradient(0deg, #F9E600 0%, #F9E600 100%, #54FF00 100%, #FD7C00 100%, #0058FF 100%, #0058FF 100%); }
  .colors .checkbox {
    display: none; }
  .colors .checkbox:checked + span:before {
    content: "\2713";
    position: absolute;
    top: 5px;
    left: 21px;
    color: #FFF; }
