<div class="charity">
    <img src="../../assets/img/charity/11.png" alt="" class="charity__img">
    <h2 class="charity__title">
        Чужих детей не бывает! 
    </h2>
    <p class="charity__graph">
        <span class="charity__graph_accent">
            Обменяшка
        </span>
        сотрудничает с волонтерскими организациями по всей Украине! 
        Ты тоже можешь помочь! Отдай свои ненужные вещи, они попадут 
        в детские дома и приюты!
    </p>
    <button class="charity__button">
        <img class="charity__button_img" src="../../assets/img/charity/heart-charity.png" alt="heart-charity">
        я хочу помочь детям!
    </button>
    <!-- <img src="../../assets/img/charity/children2.png" alt="children"> -->
</div>
