@import "../partials/variables";
@import "../../fonts/font";

.btn-auth {
  background-color: $colorButtonBlue;
  border-radius: 24px;
  border: 0;
  outline: none;

  @include font(Roboto) ;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  color: #fdf9ff;

  &:hover {
    cursor: pointer;
    background-color: lighten(#0094FF, 5%);
  }

  &:active {
    background-color: #0094FF;
  }

  &:disabled {
    background-color: $colorDesabled;
  }
}
