@import "../../partials/params";
.HomePageFooter {
  padding-top: 200px;
  background-image: url(../../../img/footerBg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat ;
  position: relative;
  z-index: 2;
  color: #fff;

  a {
    display: block;
  }
}

.footer-blocks {
  display: flex;
  flex-direction: column;
}

.footer-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.footer-list__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 44px;

  & + a {
    img:active {
      @include Scale;
    }
  }

}

.footer-list-tel {
  padding-top: 20px;
}

.footer-list-tel a {
  font-size: 22px;
  line-height: 30px;
}


.HomePageFooter a {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.icon-Heart:before {
  content: "\e903";
  color: #FF0000;
}

.btn-Help-Children {
  margin-top: 40px;
  background-color: #12B6ED;
  padding: 8px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  border-radius: 25px;
  max-width: 100%;
  white-space: nowrap;
}

.btn-Help-Children:hover {
  background-color: #0094FF;
}

.btn-Help-Children > span {
  display: inline-block;
  margin-right: 10px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, .5);
  padding: 20px 0;
}

.copyright > span:first-child {
  padding-right: 10px;
}

.HomePageFooter > [class^="icon-"], [class*=" icon-"] {
  font-size: 30px;
}

@media screen and (min-width: 800px) {
  .btn-Help-Children {
    margin-top: 20px;
  }
  .HomePageFooter {
    padding-top: 100px;
  }
  .footer-blocks {
    flex-direction: row;
    justify-content: space-between;
    height: 220px;
    padding-bottom: 50px;
  }
}