.width-1-1 {
  width: 100%;
}

.width-1-2 {
  width: 50%;
}

.width-1-3 {
  width: 33.33%;
}

.width-1-4 {
  width: 25%;
}

.width-1-5 {
  width: 20%;
}

.width-2-5 {
  width: 40%;
}

.width-3-5 {
  width: 60%;
}

.width-4-5 {
  width: 80%;
}