@import "../../partials/variables";
@import "../../../fonts/font";

.navbar-top-inner {
  background-color: #f2f4f7;
  @include font(Roboto);


  .navbar-top {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 16px;

    align-items: center;


    &-links {
      color: $black-color-text;
      text-transform: uppercase;
    }

    &-link {
      margin-right: 60px;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;

      i {
        position: relative;
        top: 2px;
        margin-right: 8px;
        font-size: 1.32em;
      }

    }

    #personalArea {
      a {
        transition: 0.2s;
        display: flex;
        align-items: center;
        padding: 16px 0 10px;
        cursor: pointer;

        div {
          width: 30px;
        }

        span {
          margin-left: 10px;
          line-height: 16px;
          color: #444444;
        }

        &:active {
          @include Scale(1.03);
        }

      }
    }

  }
}