*{
    box-sizing: border-box;
}
.cards{
    width: 100%;
    height: auto;
    padding-bottom: 125px;
    background-color: #E5E5E5;
    margin-top: -110px;
    padding-top: 180px;
    position: relative;
    z-index: -20;
    &__title{
        width: 1220px;
        height: 30px;
        margin: 0 auto 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
       
        &_name{
            margin: 0 42px;
            font-size: 27px;
            line-height: 24px;
            color: #11b5ed;
            font-family: 'Pollywog Cyr';
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            &:before{
                content: "";
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #12b6ed;
                position: absolute;
                top: 8px;
                left: -32px;
            } 
            &:after{
                content: "";
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #12b6ed;
                position: absolute;
                top: 8px;
                right: -32px;
            } 
        }
        &_search{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 24px;
            a{
                color: #11b5ed;
                text-decoration: none;
                cursor: pointer;
            }
        }

    }
    &__container{
        width: 1220px;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 290px 290px 290px 290px;
        grid-gap: 40px 20px;
    }
    &__search{
        width: 1220px;
        padding: 35px 0 65px;
        margin: 0 auto;
        text-align: right;
    }

}