<section class="cards">
    <div class="cards__title">
        
        <h2 class="cards__title_name">
            Текущие предложения
        </h2>
        <div class="cards__title_search">
            <a routerLinkActive='active' routerLink="/search">Расширенный поиск > </a>
        </div>
    </div>
    <div class="cards__container">
        <app-card-item
        *ngFor="let card of listCards|async"
        [card]="card"
        (addToFavouritesAction)="addToFavouritesAction($event)"
        ></app-card-item>
    </div>
</section>
