@import '../../partials/variables';

.navbarBurger-list {
  background-color: #fff;
  padding: 70px;
  color: $colorGrey;
  z-index: -1;
  transition: 1s all;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  width: 100vw;
  left: 0;
  top: 138px;
  position: fixed;
  transform: translateY(-100vh);

  .wrapper {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 157px;
    grid-row-gap: 20px;
    width: 100%;
  }

  .navbarBurger-element {
    display: grid;
    justify-content: center;
    align-items: center;

    img,
    span {
      display: block;
    }

    span {
      margin-top: 20px;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      text-align: center;
      color: #333333;
      text-transform: uppercase;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 157px;
      height: 157px;

      &:hover {
        border: 2px dashed #ffb641;
        box-sizing: border-box;
        box-shadow: 0 4px 40px rgba(255, 199, 0, 0.4);
        border-radius: 111px;
      }
    }
  }
}
