
*{
    box-sizing: border-box;
}

.steps{
    width: 100%;
    height: 898px;
    background:url(../../assets/img/steps/sky1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    
    &__conteiner{
        width: 1290px;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }

    &__item{
        width: 350px;
        margin: 280px 0px 100px;
        text-align: center;
        z-index: 7;
    }

    &__img{
        height: 225px;
        margin-bottom: 90px;
          
    }

    &__graph{
        font-size: 30px;
        line-height: 37px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        position: relative;
        &_accent{
            font-weight: bold;            
        }
        &_attent{
            font-weight: bold;
            position: absolute;
            &:nth-child(1){
                font-size: 95px;
                color: #ffb641;
                top: -35px;
                left: -7px;
                
            }
            &:nth-child(2){
                font-size: 87px;
                color: #3edc76;
                top: 65px;
                right: 50px;
                
            }

        }
    }
}
.cloud{
  
    &_progress{
        display: block;
        width: 190px;
        height: auto;   
    }
    &_img1{
        position: absolute;
        top: 160px;
        animation: 120s lr1 infinite linear;
    }
     &_img2{
        position: absolute;
        top: 300px;
       animation: 120s lr2 infinite linear;
       
    }
     &_img3{
        position: absolute;
        top: 110px;
        animation: 110s lr3 infinite linear;
    }
      &_img4{
        position: absolute;
        top: 600px;
        animation: 310s lr4 infinite linear;   
    }
      &_img5{
        position: absolute;
        top: 680px;
        animation: 90s lr5 infinite linear;   
    }
      &_img6{
        position: absolute;
        top: 300px;
        animation: 90s lr6 infinite linear;  
        z-index: 9 
    }
    &_img7{
        position: absolute;
        top: 720px;
        animation: 150s lr7 infinite linear;  
        z-index: 9 
    }
      &_img8{
        position: absolute;
        top: 60px;
        animation: 210s lr8 infinite linear;  
         
    }
     &_img9{
        position: absolute;
        top: 220px;
        animation: 320s lr9 infinite linear;  
         
    }

    @keyframes lr1{
        0%{left: -200px;
            opacity: 0;}
        14%{left: -200px;
            opacity: 0;}
        15%{
            left: -200px;
            opacity: 1;
        }    
        100%{left: 100%;
        }
    }
    @keyframes lr2{
        0%{left: 500px;}
        100%{
            left: 100%;
            opacity: 0;
        }
    }
    @keyframes lr3{
        0%{left: 900px;
            opacity: 0.9;
        }
        100%{
            left: 100%;
        }
    }
     @keyframes lr4{
        0%{left: 1000px;
            opacity: 0.5;
        }
        98%{left: 100%;
            opacity: 0.5;
        }
         100%{
            left: 100%;
            opacity: 0;
        }
    }
     @keyframes lr5{
        0%{left: 700px;}
         100%{
            left: 100%;

        }
    }
     @keyframes lr6{
        0%{left: -150px;}
         100%{
            left: 100%;

        }
    }
      @keyframes lr7{
        0%{left: -200px;
            opacity: 0;}
        30%{left: -200px;
            opacity: 0;}
        31%{
            left: -200px;
            opacity: 1;
        }    
        100%{left: 100%;
        }
   }
       @keyframes lr8{
        0%{left: 70%;
            opacity: 0;}
        3%{left: 75%;
            opacity: 0.4;}
        5%{
            left: 80%;
            opacity: 0.7;
        }    
        7%{left: 90%;
            opacity: 0.8;
        }
        9%{left: 95%;
            opacity: 0.6;
        }
        12%{left: 100%;
            opacity: 0;
        }

        15%{left: -100px;
            opacity: 0;
        }
         100%{left: 69%;
            opacity: 0.8;
        }
   }
   @keyframes lr9{
        0%{left: 40%;
            opacity: 0.5;}
        5%{left: 48%;
            opacity: 0.4;}
        10%{left: 56%;
            opacity: 0.8;
        }    
        15%{left: 64%;
            opacity: 0.9;
        }
        20%{left: 72%;
            opacity: 0.9;
        }
        25%{left: 80%;
            opacity: 0.7;
        }
        30%{left: 88%;
            opacity: 0.5;
        }
        35%{left: 92%;
            opacity: 0.3;
        }
        40%{left: 100%;
            opacity: 0;
        }
        76%{left: -100px;
            opacity: 0;
        }
        90%{left: 24%;
            opacity: 0.1;
        }
        95%{left: 32%;
            opacity: 0.3;

        }
        100%{left: 40%;
            opacity: 0.5;
        }
       
   }
}
