
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form {
  background: #FDFDFF;
  position: relative;
  display: block;
  z-index: 1;
  background: #FFFFFF;
  max-width: 456px;
  height: 622px auto;
  margin: 120px auto;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.switch{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
h3{
  font-family:"Roboto", sans-serif;
  width: 50%;
  color: #8E8E8E;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px solid #8E8E8E;
  padding-bottom: 15px;
  outline: none;
  transition: 0.2s;
}
h3:hover{
  color: #12B6ED;
  border-bottom: 2px solid #12B6ED;
}
.h3-active{
  color: #12B6ED;
  border-bottom: 2px solid #12B6ED;
}
.input{
  display: flex;
  justify-content: center;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 48px;
  border: 1px solid #BCBCBC;
  border-radius: 2px;
  color: #8E8E8E;
}
.login{
  margin-top: 10%;
}
button{
  width: 372px;
  height: 48px;
  background: #12B6ED;
  border-radius: 24px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FDF9FF;
  margin-bottom: 10%;
  cursor: pointer;
}
.field-input{
  border-color: #FF4C4C;
}
.error-messege{
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #FF4C4C;
  margin: 0px;
}
.field{
  margin: 9%;
}
.login-section{
  display: flex;
  justify-content: center;
}