@import"../../../../fonts/font";
@import "../../../../components/partials/variables";


      .cards_replies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: flex-start;
        // margin-right: 250px;
      }
      .outgoing {
        margin-top: 80px;
      }
      .card {
        position:relative;
        padding: 0px 0px 61px;
        background-color: #ffffff;
        border: 2px dashed #C4C4C4;
        border-radius: 19px;
        width: 100%;
        max-width: 290px;
        text-align: center;
        margin: 10px;
        &_header {
          position: absolute;
          top: 0;
          left: 40%;
          right: 40%;
          padding: 5px;
          background-color: #A0A0A0;
          border-radius: 0 0 50% 50%;
          transition: all 0.3s linear;
          &:hover {
            background-color: #D8C000;
            cursor: pointer;

          }
          & img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
          }
        }
        &_figure {
          & img {
            border-radius: 19px 19px 0 0;
            width: 287px;
            height: 250px;
          }
        }
        &_title {
          @include font('Roboto');
          font-size: 16px;
          line-height: 19px;
          color: #111111;
          padding: 40px 26px 0;
          margin: 0;
        }
        &_location-city {
          display: inline-block;
          @include font('Roboto');
          font-size: 14px;
          line-height: 24px;
          color: #00C0FF;
          padding: 15px 0 36px 3px;
        }
        &_footer {
          position: absolute;
          bottom: 12px;
          left: 8%;
          display: flex;
          flex-direction: row;
          &_dialogues {
            //background-image: url(../../img/MySettings/Vector.png);
            //background-position: bottom right;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            //display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            font-weight: 800;
            @include font('Open Sans');
            height: 52px;
            width: 55px;
            transition: all 0.3s linear;
            text-decoration: none;
            &:hover {
              //background-image: url(../../img/MySettings/Vector_hover.png);
            }

            &-numbers {
              position: absolute;
              left: 88%;
              top: 20px;
              cursor: pointer;
            }
          }
        }
        &_button {
          background-color: #12B6ED;
          border-radius: 63px;
          border: none;
          width: 100%;
          max-width: 190px;
          @include font('Roboto');
          color: #ffffff;
          padding: 15px 54px;
          transition: all 0.3s linear;
          &:hover {
            //background-color: $btn-bg-hover;
            cursor: pointer;
          }
        }
      }

  .card-2 {
    position:relative;
    padding: 0 0 61px;
    background-color: #ffffff;
    border: 2px dashed #C4C4C4;
    border-radius: 19px;
    max-width: 290px;
    width: 100%;
    text-align: center;
    margin: 10px;
    &_header {
      position: absolute;
      top: 0;
      left: 42%;
      right: 42%;
      padding: 5px;
      background-color: #FEE200;
      border-radius: 0 0 50% 50%;
      &:hover {
        background-color: #D8C000;
        cursor: pointer;
        transition: all 0.3s linear;
      }
    }

    &_title {
      @include font('Roboto');
      font-size: 16px;
      line-height: 19px;
      color: #111111;
      padding: 15px 26px 0;
      margin: 0;
    }
    &_figure {
      & img {
        border-radius: 19px 19px 0 0;
        width: 287px;
        height: 250px;
      }
    }

    &_location-city {
      display: inline-block;
      @include font('Roboto');
      font-size: 14px;
      line-height: 24px;
      color: #00C0FF;
      padding: 15px 0 20px 3px;
    }
    &_footer {
      position: absolute;
      bottom: 20px;
      left: 19%;
    }
    &_button {
      background-color: #12B6ED;
      border-radius: 63px;
      border: none;
      @include font('Roboto');
      width: 100%;
      max-width: 222px;
      color: #ffffff;
      padding: 15px 54px;
      transition: all 0.3s linear;
      &:hover {
        background-color: $btn-bg-hover;
        cursor: pointer;
      }
    }
  }
  .title_in-cabinet {
    display: inline-block;
    width: auto;
    @include font(Pollywog_Cyr);
    font-size: 27px;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    color: #12B6ED;
    margin-left: 27px;
    &::before {
      color: #12B6ED;
      content:"\2022";
      font-size: 30px;
      font-weight: 700;
      left: -27px;
      line-height: 18px;
      position: absolute;
      top: 0px;
    }
    &::after {
      color: #12B6ED;
      content:"\2022";
      font-size: 30px;
      right: -27px;
      font-weight: 700;
      line-height: 18px;
      position: absolute;
      top: 0px;
    }
  }
  .titles{
    display: block;
    width: auto;
    height: auto;
  }
