@import '../shared/shared.scss';

.footer{
    // position: fixed;
    // width: 100%;
    // bottom: 0;
    // left: 0;    
    img {
        vertical-align: middle;
    }    

    height: 390px;
    margin-top: -120px;
    display: block;
    position: relative;
    z-index: 100;
    &__top{
        background: url(../../assets/img/footer/footer.png);
        height: 86px;
        background-position-y: bottom;
        background-position-x: center;
        background-size: contain;    
        background-repeat: repeat-x;
        }    
    &__bottom{        
        height: 50px;
        display: flex;
        justify-content: center;
        margin: auto;
        padding-bottom: 20px;
    }
    &__container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;        
    }
    &__container-bottom{        
        background: linear-gradient(to top, #1496ed, #00c8ef);
    }
    &__wrapper{        
        width: 1220px;
        margin: auto;
    }
    &__item{
        width: 30%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 72px;
        :first-child {
            margin-bottom: 10px;
        }
    }
    &__graph{
        color:#FFFFFF;
        // font-family: 'Proxima Nova Cn Rg', sans-serif;
        font-size: 22px;
        text-align: center;
        margin: 20px;
    }
    &__graph_bottom{
        opacity: 50%;
    }
    &__button{
        width: 280px;
        height: 25px;
        border-radius: 9px;
        background-color: #00c0ff;
        outline-style: none;
        border: none;
        text-transform: uppercase;
        // font: normal 400 16px/24px 'Proxima Nova Cn Rg', bold;
        font: normal 400 16px/24px 'Roboto', bold;
        color: #ffffff;
        text-align: center;
        &_img{
            margin: 7px;
            margin-right: 15px;
        }
    }   
}

.email {
    font-size: 16px;
}