@import "../../../partials/variables";
@import "../../../../fonts/font";


.products-section {
  margin-top: 90px;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;

}

.products-title-list {

  width: max-content;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #11B5ED;
  position: relative;
  padding: 0 20px;
  @include font(Pollywog_Cyr);
}

.products-title-list:before,
.products-title-list::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #11B5ED;
  top: 50%;
  transform: translate(0, -50%);

}

.products-title-list:before {
  left: 0;
}

.products-title-list::after {
  right: 0;
}

.products-link-search {
  color: #00C0FF;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  position: relative;
  padding-right: 25px;
  @include font(Roboto);
}

.products-link-search::after,
.products-link-search:before {
  content: '';
  position: absolute;
  width: 9px;
  height: 2px;
  background-color: #11B5ED;
  right: 0;
}

.products-link-search::after {
  transform: rotate(45deg);
  bottom: 13px;
}

.products-link-search:before {
  transform: rotate(135deg);
  bottom: 7px;
}


.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;


  &-item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #A0A0A0;
    border-radius: 20px;
    margin-bottom: 34px;
    background-color: #fff;

    &__img {
      margin-bottom: 16px;


      &-box {
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        width: 288px;
        height: 260px;
        max-height: 280px;

      }
    }

    &__title {
      font-size: 16px;
      line-height: 19px;
      @include font(Roboto);
      color: $colorBlack;
      margin: 0 44px 12px;
      text-align: center;

    }

    &__location {
      font-size: 16px;
      line-height: 19px;
      @include font(Roboto);
      color: #00C0FF;
      margin-bottom: 23px;
    }

    &__bottom {
      padding: 16px 70px 14px;
      margin-bottom: 25px;
      background-color: $colorButtonBlue;
      border-radius: 25px;

      @include font(Roboto);
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      text-transform: uppercase;
    }


    .product-like-this {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #A0A0A0;
      border-radius: 0 0 50% 50%;

      svg {
        position: absolute;
        left: calc((100% - 28px) / 2);
        top: 10px;
      }
    }

    .activeFavourite {
      background-color: #FEE200;

      svg {
        path {
          fill: $colorButtonBlue;
        }
      }
    }
  }
}