@import "../../../partials/variables";
@import "../../../../fonts/font";

.HelpChildren {
  display: block;
  padding: 45px 45px 60px;
  border-radius: 20px;
  background: #fff url('../../../../img/children.png') no-repeat bottom right;
  margin-bottom: 145px;

  &__title {
    color: $colorButtonBlue;
    font-size: 43px;
    line-height: 24px;
    text-transform: uppercase;
    @include font(Pollywog_Cyr);
    padding-bottom: 36px;
  }

  &__text {
    @include font(Roboto);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    color: #111;
    width: 408px;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 40px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);

    strong {
      display: contents;
      color: #00C0FF;

      text-decoration: none;

      line-height: 15px;
      font-weight: 700;
    }
  }

  &__btn {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: #00c0ff;
    padding: 15px 40px;
    border-radius: 20px;
    transition: 0.2s;

    span {
      margin-right: 10px;
    }
  }

  &__btn:hover {
    background-color: #0094FF
  }
}