.header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-left {
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header-topbg {
    background-color: #F2F4F7;
    padding: 15px 0 17px 0;
}

.header-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 21px 0;
}

.header-bottom-background {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}