.list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list-item {
    text-transform: uppercase;
    font-size: 16px;
    padding-right: 30px;
}

.list-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.list-question {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.account-nav {
    list-style-type: none;
}