@import "../../../partials/params";

.tabs {
  margin-bottom: 44px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-family: $fontRoboto;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 50%;

    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid $colorGrey;
    color: $colorGrey;
    cursor: pointer;
  }

  .active {
    border-bottom: 2px solid $colorButtonBlue;
    font-weight: bold;
    color: $colorButtonBlue;
  }
}
