@import "../../../components/partials/variables";
@import "../../../fonts/font";

.present-section {
  position: relative;
  background-image: url(../../../img/clouds/bgheader.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 0;


  .presentSlider {
    display: flex;
    padding-top: 298px;
    padding-bottom: 201px;
    justify-content: space-between;
    align-items: center;


    .presentSlider-element {
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: auto;

      p {
        @include font(Roboto);
        text-shadow: 1px 1px 10px $btn-bh-active;
        font-style: normal;

        font-size: 30px;
        line-height: 36px;

        text-align: center;

        color: #ffffff;

      }

    }

    .presentSlider-element:nth-child(1) {
      img {
        margin-bottom: 66px;
      }

      p {
        position: relative;
        max-width: 285px;

        &:before {
          position: absolute;
          top: -38px;
          left: -22px;
          content: '';
          width: 41px;
          height: 67px;
          background-image: url('../../../img/question.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    .presentSlider-element:nth-child(2) {
      img {
        margin-bottom: 70px;
      }

      p {
        position: relative;
        max-width: 386px;
        min-width: 386px;

        &:after {
          position: absolute;
          bottom: 7px;
          right: 75px;
          content: '';
          width: 13px;
          height: 60px;
          background-image: url('../../../img/answer.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    .presentSlider-element:nth-child(3) {
      img {
        margin-bottom: 37px;
      }

      p {
        max-width: 397px;
      }
    }
  }
}
