<div class="aside">
    <div class="aside__first-info">
        <h2>Кофта детская с кроликом</h2>
        <p>Дата публикации: <span>03.09.2019</span></p>
        <p>Город: <span>Харьков, Холодногорский</span></p>
    </div>
    <div class="aside__second-info">
        <div class="row">
            <div class="author-image"></div>
            <h2>Марина Васильева</h2>
        </div>
        <div class="change-list">
            <h3>Меняет на:</h3> 
            <ul>
                <li>ботинки зимние 250 мм на девочку</li>
                <li>колготки 120см</li>
                <li>шапочка для басейна</li>
                <li>кофта для 7 лет</li>
                <li>ваше предложение</li>
            </ul>
            <button class="change-list__btn">Предложить обмен</button>
        </div>
        <div class="description-item">
            <h2>Описание:</h2>
            <div class="description-item__info">
                <div class="information"><p>Размер/возраст:</p><span>110 см/5 лет</span></div>
                <div class="information"><p>Состояние:</p><span>Б/у</span></div>
                <div class="information"><p>Сезон:</p><span>Осень/Зима</span></div>
                <div class="information"><p>Пол:</p><span>Унисекс</span></div>
            </div>
        </div>
    </div>
</div>