$shadow: rgba(89, 102, 116, 0.1);
$colorPopup: #FDFDFF;
$btn-bh-active: #12b6ed;
$btn-bg-hover: #0094ff;
$btn-bh-green: #43B05C;
$colorError: #ff4c4c;
$colorGrey: #8E8E8E;
$btn-gb-disabled: #DADADA;
$right-color-text: #333333;
$black-color-text: #111111;

$bg-profile: #00C0FF;
$bg-content: #E5E5E5;
$active-color: #00C0FF;
$scrollbar-color: #00C0FF;
$scrollbar-hover-color: #0094ff;
$scrollbar-bg: #f1f1f1;


@mixin large-screen(){
  @media only screen and (max-width: 455px) {
    @content
  }
}

@mixin IphoneTen-screen(){
  @media only screen and (max-width: 376px) {
    @content
  }
}
@mixin IphoneFife-screen(){
  @media only screen and (max-width: 321px) {
    @content
  }
}

@mixin Scale ($scale){
  transform: scale($scale);
}

@mixin marginRight () {
  margin-right: 1.01em;
}
