<section class="steps">
    <div class="steps__conteiner">
        <div class="steps__item step1">
            <img src="../../assets/img/steps/step1.png" alt="step1" class="steps__img">
            <p class="steps__graph">
               <span class="steps__graph_attent">
                    ?
                </span>
                <span class="steps__graph_accent">
                    Накопилось
                </span>
                много детских вещей?
            </p>
        </div>
        <div class="steps__item">
            <img src="../../assets/img/steps/step2.png" alt="step2" class="steps__img">
            <p class="steps__graph">
                Просто 
                <span>
                <strong class="steps__graph_accent">
                    зарегистрируйся</strong>
                    и размести <br> объявление!
                </span> 
                
                <span class="steps__graph_attent ">
                    !
                </span>
            </p>
        </div>
        <div class="steps__item">
            <img src="../../assets/img/steps/step3.png" alt="step3" class="steps__img">
            <p class="steps__graph">
                <span class="steps__graph_accent">
                    Обменяйся
                </span>
                с другими <br> пользователями <br>
                на что-то новое и полезное!
            </p>
        </div>
    </div>
    <div class="cloud">
        <span class="cloud_progress cloud_img1">
            <img src="../../assets/img/steps/Cloud1 1.png" alt="" class="">
          </span>
           <span class="cloud_progress cloud_img2">
            <img src="../../assets/img/steps/Cloud2 3.png" alt="" class="">
          </span>
           <span class="cloud_progress cloud_img3">
            <img src="../../assets/img/steps/Cloud2 2.png" alt="" class="">
          </span>
           <span class="cloud_progress cloud_img4">
            <img src="../../assets/img/steps/Cloud2 4.png" alt="" class="">
          </span>
          <span class="cloud_progress cloud_img5">
            <img src="../../assets/img/steps/Cloud1 1.png" alt="" class="">
          </span>
          <span class="cloud_progress cloud_img6">
            <img src="../../assets/img/steps/Cloud2 1.png" alt="" class="">
          </span>
          <span class="cloud_progress cloud_img7">
            <img src="../../assets/img/steps/Cloud2 2.png" alt="" class="">
          </span>
          <span class="cloud_progress cloud_img8">
            <img src="../../assets/img/steps/Cloud2 1.png" alt="" class="">
          </span>
          <span class="cloud_progress cloud_img9">
            <img src="../../assets/img/steps/Cloud2 1.png" alt="" class="">
          </span>


    </div>
</section>
