@font-face {
  font-family: 'Roboto', sans-serif;
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=cyrillic');
}

@font-face {
  font-family: 'Caveat', cursive;
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
  font-style: normal;
  font-weight: 80;
}

@mixin font($font) {
  font-family: $font;
}
