@font-face {
  font-family: 'Roboto';
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=cyrillic');
}

@font-face {
  font-family: 'Pollywog_Cyr';
  src: url('Pollywog_Cyr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Open Sans';
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
  font-style: normal;
  font-weight: 80
}

@mixin font($font) {
  font-family: $font, sans-serif;
}
