@font-face {
  font-family: 'Roboto';
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=cyrillic');
}

@font-face {
  font-family: 'Pollywog_Cyr';
  src: url('./Pollywog_Cyr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face{
  font-family: 'Open Sans';
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&display=swap');
}

@mixin font($font) {
  font-family: $font, sans-serif;
}