.add {
  padding-top: 200px;
  padding-bottom: 50px;

  .add_container {
    max-width: 1200px;
    margin: auto;

    .add_inner {
      min-height: 600px;
      width: 100%;
      background: #ffffff;
      padding: 40px;

      h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 40px;
      }

      .add_choose {
        margin-bottom: 50px;
      }

      .change {
        margin-bottom: 50px;
      }

      .change-description {
        color: #8e8e8e;
        margin-bottom: 10px;
      }

      .change_wrapper {
        display: flex;
        width: 80%;
        border: 1px solid #bcbcbc;
        border-radius: 2px;
        margin-bottom: 20px;

        .change_item {
          position: relative;
          margin: 7px;
          padding: 6px 34px 6px 14px;
          background: #12b6ed;
          border-radius: 5px;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 24px;

          span {
            position: absolute;
            right: 25px;
            cursor: pointer;
          }

          span::after {
            position: absolute;
            content: '';
            top: 5px;
            left: 9px;
            width: 1px;
            height: 11px;
            background: #fff;
            transform: rotate(45deg);
          }

          span::before {
            position: absolute;
            content: '';
            top: 5px;
            left: 9px;
            width: 1px;
            height: 11px;
            background: #fff;
            transform: rotate(-45deg);
          }
        }

        .change_input {
          position: relative;
          height: 32px;
          width: 250px;
          margin: 7px;
          border: none;
          outline: none;
          &::before {
            content: 'asd';
          }
        }
      }

      .characteristics_items {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;

        h4 {
          font-size: 22px;
          margin-bottom: 13px;
        }
      }

      .description {
        padding-bottom: 40px;
        .description_subtitile {
          color: #8e8e8e;
          margin-bottom: 10px;
        }

        .description_textarea {
          resize: none;
          width: 100%;
          min-height: 115px;
          font-size: 16px;
          outline: none;
          padding: 10px;
        }
      }

      .files {
        margin-bottom: 100px;
        h3 {
          font-weight: 600;
          color: #11171f;
          font-size: 26px;
          line-height: 40px;
        }

        p {
          font-size: 16px;
          line-height: 26px;
          color: #8f8f8f;
          font-weight: 400;
        }
        .files_wrapper {
          margin-top: 15px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
        }
      }

      .bottom_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buttons_block {
          display: flex;

          .preview {
            margin-left: 30px;
          }
        }

        .cancel {
          text-transform: uppercase;
          cursor: pointer;
        }
      }
      .span_star {
        color: red;
      }
    }
  }
}
