@import "../partials/variables";

.btn-add {
  position: relative;
  display: block;
  color: #fff;
  background-color: $btn-bh-green;
  border-radius: 25px;
  padding: 13px 35px 13px 61px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  span {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

  }

  &:before {
    position: absolute;
    content: '';
    top: 23px;
    left: 33px;
    width: 14px;
    height: 2px;
    background-color: #fff;
  }

  &:after {
    position: absolute;
    content: '';
    top: 17px;
    left: 39px;
    width: 2px;
    height: 14px;
    background-color: #fff;
  }

  &:hover, &:active {
    background-color: #008B20;
  }
}