@import "../../partials/variables";
@import "../../../fonts/font";


.login {
  .input_field {
    margin-bottom: 42px;

    #usernameOrEmail + span {
      @include large-screen {
        bottom: -23px;
      }
    }

    .input_field:last-child {
      margin-bottom: 32px;
    }
  }

  .extra {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;

    .check {
      margin-right: 22px;
      @include IphoneFife-screen {
        margin-right: 2px;
      }
    }
  }

  .btn-auth {
    margin-bottom: 65px;
  }
}

.register {
  .input_field {
    margin-bottom: 22px;

    &:nth-child(4) {
      margin-bottom: 32px;
    }

    #email + span {
      @include IphoneTen-screen {
        bottom: -23px;
      }
    }

    #username + span {
      @include IphoneTen-screen {
        bottom: -23px;
      }
    }

    #password + span {
      @include large-screen {
        bottom: -23px;
      }
    }
  }

  .extra {
    margin-bottom: 24px;

    .checkbox {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .check + label {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .btn-auth {
    margin-bottom: 45px;
  }
}

.input_field {
  label {
    @include font(Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: $colorGrey;

    cursor: pointer;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding: 12px 16px;
    width: 100%;
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;

    @include font(Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: $right-color-text;

    @include large-screen {
      margin-bottom: 12px;
    }
  }

  input:hover,
  input:focus {
    border-color: darken(#bcbcbc, 20%);
  }
}

.extra {
  .checkbox {
    #check {
      appearance: none;
    }

    #check:checked + label + label {
      color: $black-color-text;
    }

    .check {
      position: relative;
      top: 2px;
      box-sizing: border-box;
      display: inline-flex;
      cursor: pointer;
      width: 17px;
      height: 17px;
      border: 3px solid $colorGrey;


      & + label {

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;

        color: $colorGrey;
        cursor: pointer;
      }
    }

    input:checked + label {
      border: 3px solid $btn-bh-active;
      background: $btn-bh-active url(../../../img/check.svg) no-repeat center;
    }
  }

  span a {
    @include font(Roboto);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: none;

    color: $btn-bh-active;
  }
}

.btn-auth {
  width: 222px;
  height: 48px;
}
