@import "../../../../components/partials/variables";

.myProfile-title {
  padding-top: 65px;
  margin-bottom: 40px;
}
.block-children {
  margin-bottom: 10px;
}

.block-child {
  margin-bottom: 21px;

  .block-buttons {
    display: flex;
    justify-content: flex-end;

    &__add-remove {
      width: 415px;
      display: flex;
      justify-content: space-between;

      &-item {
        display: inline-flex;
        align-items: center;
        span:first-child {
          font-size: 14px;
          line-height: 16px;
          margin-right: 21px;
        }
        .add,
        .remove {
          position: relative;
          display: inline-flex;
          width: 34px;
          height: 34px;
          color: #fff;

          border-radius: 50%;
        }

        .add {
          background-color: #43b05c;
          transition: 0.2s;
          &:hover {
            cursor: pointer;
            background-color: darken(#43b05c, 5%);
          }
        }
        .remove {
          background-color: #787878;
          transition: 0.2s;
          &:hover {
            cursor: pointer;
            background-color: lighten(#787878, 5%);
          }
        }
        .add:before,
        .remove:before,
        .add:after,
        .remove:after {
          position: absolute;
          content: "";
          background-color: #fff;
        }

        .add:before {
          top: 16px;
          left: 12px;
          width: 10px;
          height: 2px;
        }
        .add:after {
          top: 12px;
          left: 16px;
          width: 2px;
          height: 10px;
        }
        .remove:before {
          top: 16px;
          left: 12px;
          width: 10px;
          height: 2px;
          transform: rotate(45deg);
        }
        .remove:after {
          top: 12px;
          left: 16px;
          width: 2px;
          height: 10px;
          transform: rotate(45deg);
        }
        span {
          display: inline-flex;
        }
      }
    }
  }
}
