@import "../../components/partials/variables";
@import "../../fonts/font";

.somethingBad {
  min-height: 100vh;
  position: relative;

  .blockCenterImage {
    position: relative;
    left: 0;
    right: 0;
    &-somethingBad {
      padding-top: 3%;
      position: relative;
      z-index: 10;

      @media (max-width: 576px){
        padding-top: 30%;
      }
      img {
        width: 100%;
      }
    }


    }
  .blockRightImage, .blockGreenImage, .blockOrangeImage{
    position: absolute;
    top: 0;
    z-index: 0;
    img{
      max-width: 100%;
      height: calc(100vh - 3px);
    }

  }
  .blockOrangeImage{
    left: 360px;
  }
  .blockGreenImage{
    left: 0;
  }
  .blockRightImage{
    right: 50px;
  }

  h2{
    @include font(Pollywog_Cyr);
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 24px;

    letter-spacing: 1px;
    text-transform: uppercase;
    color: #BABABA;
    text-align: center;

    margin-bottom: 27px;
    padding: 10px 5px;

    @media (max-width:576px){
      font-size: 16px;
    }
  }

  .blockButtons{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 480px;
    margin: 0 auto 50px;
    button {
      margin: 0 5px 20px;
      border-radius: 24px;
      border: 0;
      outline: none;
      width: 222px;
      height: 50px;

      @include font(Roboto) ;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;

      color: #ffffff;


    }
    .onMain {
      background-color: $btn-bh-active;
      &:hover {
        cursor: pointer;
        background-color: #0094FF;
      }
      &:active {
        background-color: darken(#0094FF, 5%);
      }

      &:disabled {
        background-color: $btn-gb-disabled;
      }
    }
    .back {
      background-color: $btn-bh-green;
      &:hover {
        cursor: pointer;
        background-color: #008B20;
      }
      &:active {
        background-color: darken(#008B20, 5%);
      }

      &:disabled {
        background-color: $btn-gb-disabled;
      }
    }
  }
}
