* {
  outline: none;
}

.carouselBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
}

.productPhotoSlideBig {
  img {
    width: 600px;
    height: 680px;
  }
}

.sliderPosition {
  width: 160px;
  height: 100%;

  .slick-slider {
    padding-top: 20px;
  }
}

.productPhotoSlider {
  img {
    height: 138px;
    width: 138px;
  }

  img:hover {
    box-shadow: 0 0 3px 2px rgba(48, 50, 50, 0.4);
  }

  .slick-next {
    top: 4px;
    right: 70px;
  }

  .slick-prev {
    left: 70px;
    top: 670px;
  }

  .slick-next:before {
    content: url('../../../img/showAdv/ProductCarouselArrowUp.svg');
  }

  .slick-prev:before {
    content: url('../../../img/showAdv/ProductCarouselArrowDown.svg');
  }

  .slick-list {
    padding-left: 11px;
  }

  .slick-slide {
    margin: 0;
    transition: 0.5s;
    padding: 9px 0;
  }

  .slick-slide:hover {
    transform: scale(1.1);
  }
}

.selected {
  border: 2px solid #fa9e25;
}

.noPhoto {
  margin: 10px 0;
  width: 138px;
  height: 138px;
  background-color: #ffffff;

  .noPhotoImg {
    width: 40%;
    height: 40%;
    margin: 30% 30%;
  }
}
