@import './assets/indigo-pink-edited';

// @import './assets/reset.css';
@import './assets/normalize.css';

/* You can add global styles to this file, and also import other style files */
// @font-face{
//      font-family: 'Proxima Nova Cn Rg';
//      src: url('../src/assets/fonts/proxima_nova/ProximaNova-Regular.woff');
// }

// @font-face{
//     font-family: 'ProximaNova-ThinIt';
//     src: url('../src/assets/fonts/proxima_nova/ProximaNova-ThinIt.woff');
// }

// @font-face {
//     font-family: 'Pollywog Cyr';
//     src: url(../src/assets/fonts/pollywog_cyr.ttf);
// }

@font-face {
    font-family: 'Pollywog Cyr';
    src: url(../src/assets/fonts/pollywog_cyr.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
}

@font-face {
    font-family: 'Cutthecrap';
    src: url(../src/assets/fonts/cut_the_crap-regular.woff);
}

body {
    font-family: 'Roboto', sans-serif;
}
/*CUSTOM*/