@import "../../components/partials/variables";

.popup {
  margin: 180px auto 50px;
  background-color: $colorPopup;
  max-width: 806px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 24px 10px rgba(48, 50, 50, 0.30);
  -moz-box-shadow:    0 0 24px 10px rgba(48, 50, 50, 0.30);
  box-shadow:         0 0 24px 10px rgba(48, 50, 50, 0.30);

  form {
    margin: 0 49px 0 44px;
  }
}
