.modal-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(18, 182, 237, 0.3);
  opacity: 1;
  z-index: 99999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .modal {
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    max-width: 599px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(18, 182, 237, 0.3);
    text-align: center;
    padding: 39px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;

    .modal__cross {
      width: 30px;
      height: 30px;
      position: absolute;
      top: -15px;
      right: -15px;
      fill: #444;
      cursor: pointer;
      background-color: #12B6ED;
      border-radius: 50%;
      transition: all 0.3s linear;
      
      &:before, &:after {
        content: '';
        position: absolute;
        top:7px;
        width: 1px;
        height: 15px;
        background-color: #fff;
      }

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }

      &:hover {
        background-color: #0094ff;
      }
    }

    .modal__title {
      position: absolute;
      display: block;
      top: 44px;
      left: 50px;
      font-size: 20px;
      line-height: 16px;
      color: #111111;
      font-weight: 600;
      font-family: 'Proxima Nova', sans-serif;
    }

    .modal__text {
      position: absolute;
      top: 75px;
      left: 53px;
      width: 310px;
      height: 63px;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: left;
      color: #777777;
    }

    .button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 148px;
      left: 53px;
      width: 179px;
      height: 49px;
      border-radius: 63px;
      background-color: #12B6ED;
      color: #FFFFFF;
      font-size: 16px;
      line-height: 19px;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s linear;

      &:hover {
        background-color: #0094ff;
      }
    }
    .background {
      position: absolute;
      width: 146px;
      height: 146px;
      right: 33px;
      border-radius: 25px;
      background-color: #FEE6E6;

      img {
        position: absolute;
        transform: translate(calc(50% - 107px), calc(50% - 39px));
      }
    }

    .log-out-img {
      position: absolute;
      top: 32%;
      left: 77%;
    }
  }
}
