<header>
    <div class="header_first">
        <div class="header_first__container">
                <nav class="header_first__nav">
                        <a id="about" href="#" class="header_first__nav__item">
                            о проекте
                        </a>
                        <a id="charity" href="#" class="header_first__nav__item">
                            <img src="../../assets/icons/header/heart.png" alt="heart">
                            благотворительность
                        </a>
                     
                        <a id="account" href="#" class="header_first__nav__item">
                            <img class="header_first__account" src="../../assets/icons/header/account.png" alt="account" srcset="">
                            Мой кабинет
                        </a>
                    </nav>   
        </div>

    </div>
    <div class="header_second">
        <div class="header_second__container">
            <nav class="header_second__nav">
                <a id="home" href="#" class="header_second__nav__item">
                    <img src="../../assets/icons/header/logo_header.png" alt="logo-header">
                </a>
                <a id="home" href="#" class="header_second__nav__item">
                    Категории
                    <img src="../../assets/icons/header/arrow.png" alt="arrow" srcset="">
                </a>
                <div class="header_second__search">
                     <button class="header_second__magnifier">
                        <img src="../../assets/icons/header/magnifier.png" alt="magnifier">
                    </button>
                    <input type="search" placeholder="Я ищу...">
                    <!--<a id="settings" href="#" class="header_second__settings">
                        <img src="../../assets/icons/header/settings.png" alt="settings">
                    </a>-->
                   
                </div>
                    <button class="header_second__button">+ добавить объявление</button>
            </nav>
        </div>

    </div>
</header>
