.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    font-size: 14;
    opacity: 1;
  }
  .breadcrumb-item {
    margin: 16px 15px 60px 0px;
    & a {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: #5D5D5D;
    }
    &:after {
        content: '>';
        margin: 0 0 0 16px;
        display: inline-block;
    }
    &:last-child:after {
        display: none;
    }
    & .is-active {
        color: #00C0FF;
    }
    & .not-hover:hover {
        text-decoration: none;
    }
  }
