.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-bottom: 14px;
    color: #A3A3A3;
    margin-left: 21px;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 3px solid #B8B8B8;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-checkbox:checked+label::before {
    background-color: #0FC4FF;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }
  .custom-checkbox:checked+label {
    color: #111111;
    font-weight: 500;
  }
  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
  }