<section class="banners">
    <div class="banners__item">
        <p class="banners__graph text-align11">Огромный выбор</p>
        <h2 class="banners__title text-align12">игрушек</h2>
    </div>
    <div class="banners__item">
        <p class="banners__graph text-align21">Разнообразие детской и подростковой</p>
        <h2 class="banners__title text-align22">одежды</h2>
    </div>
    <div class="banners__item">
        <p class="banners__graph text-align31">Все для</p>
        <h2 class="banners__title text-align32">малышей</h2>
    </div>
</section>
