@import '../../fonts/font';
@import '../../components/partials/variables';

.container {
  display: flex;
  margin: 156px 0 auto 0;
  width: 100%;
  @include font('Roboto');

  .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
    height: auto;
    background-color: #ffffff;
    color: darken(rgba(173, 173, 173, 0.78), 5%);
    margin-bottom: -300px;
  }
  .main-content {
    background-color: $bg-content;
    width: calc(100% - 25%);

    &-wrapper {
      max-width: 588px;
      padding-left: 40px;
    }
  }
  .main-content::-webkit-scrollbar {
    display: none;
  }
}
