@import "../../../components/partials/variables";

.tabs {
  padding: 26px 65px;
  font-size: 14px;
  line-height: 16px;
  color: $black-color-text;
  display: flex;
  flex-direction: column;

  a {
    position: relative;
    transition: 0.5s;
    margin-bottom: 25px;
    white-space: nowrap;



    &:not(.active):hover {
      @include Scale(1.05);
    }
  }

}

.active {
  transform: translateX(10px);
  color: $bg-profile;
  transition: 0.5s;
  .active__cycle {
    display: block;
    position: absolute;

    width: 50px;
    height: 30px;
    top: -8px;
    right: -95px;
    border-radius: 50%;
    background-color: $bg-content;

    &:after {
      position: absolute;
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      left: 4px;
      top: calc(50% - 6px);

      background-color: $bg-profile;
    }
  }
}
