.description {
  margin-top: 32px;
  width: 764px;
  height: 219px;
  background-color: #fff;
  padding: 0 33px;
  box-shadow: 0px 0px 40px rgba(89, 102, 116, 0.1);
  h2 {
    font-size: 26px;
    line-height: 40px;
    color: #111111;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    color: #555555;
  }
}
