@import "../../partials/variables";
@import "../../../fonts/font";

.navbar-main-inner {
  @include font(Roboto);

  padding: 20px 0 22px;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);

  .navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: block;
      min-width: 148px;
      width: 148px;
      height: 56px;
      background: url("../../../img/logo.png");
      margin-right: 40px;

      &:active {
        @include Scale(1.03);
      }
    }

    &__select {
      position: absolute;
      height: 56px;
      @include font(Roboto);
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      color: $black-color-text;
      margin: 25px 0 0 179px;
      padding-bottom: 95px;
      cursor: pointer;

      &-top,
      &-bottom {
        transition: all 0.3s ease;
      }

      &-top {
        opacity: 0;
        transform: translateY(-50%);
        position: relative;
        bottom: -13px;
        color: $btn-bh-active;

        &:after {
          position: absolute;
          right: -18px;
          bottom: 9px;
          content: "";
          border: 5px solid transparent;
          border-bottom: 5px solid $btn-bh-active;
        }
      }

      &-bottom {
        position: relative;
        bottom: 11px;

        &:after {
          position: absolute;
          right: -18px;
          bottom: 4px;
          content: "";
          border: 5px solid transparent;
          border-top: 5px solid $black-color-text;
        }
      }

      &:hover {
        .navbar-main__select-top {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &:hover {
        .navbar-main__select-bottom {
          opacity: 0;
          transform: translateY(50%);
        }
      }

      &:hover .navbarBurger-list {
        left: 0;
        transform: translateY(0);
      }
    }

    .navbarBurger-list:hover {
      left: 0;
    }

    &-search {
      max-width: 541px;
      width: 100%;
      position: relative;
      margin-left: 60px;
      margin-right: 30px;

      #search {
        max-width: 541px;
        width: 100%;
        height: 50px;
        outline: none;

        border: 1px solid $btn-bh-active;
        border-radius: 25px;

        @include font(Roboto);
        font-style: italic;
        font-size: 16px;
        line-height: 24px;

        box-sizing: border-box;
        padding: 10px 10px 10px 60px;
      }

      .circle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5px;
        left: 5px;
        box-sizing: border-box;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        background-color: $btn-bh-active;
        cursor: pointer;

        .icon-search {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 320px) {
  .navbar-main-inner {
    & .navbar-main__select {
      display: none;
    }
    & .navbar-main .logo{
      display: none;
    }
    & .navbar-main .btn-add{
      display: none;
    }
  }
}

@media (min-width: 540px) {
  .navbar-main-inner {
    & .navbar-main__select {
      display: block;
      margin-left: 149px;
    }
    & .navbar-main-search {
      margin-right: 8px;
    }
    & .navbar-main .logo{
      display: block;
    }
    & .navbar-main .btn-add{
      display: block;
    }
  }
}
@media (min-width: 750px) {
  .navbar-main-inner {
    & .navbar-main-search {
      margin-right: 30px;
      margin-left: 80px;
    }
  }
}
@media (min-width: 840px) {
  .navbar-main-inner {
    & .navbar-main__select {
      margin-left: 164px;
    }
  }
}
@media (min-width: 950px) {
  .navbar-main-inner {
    & .navbar-main-search {
      width: 30%;
    }
  }
}
@media (min-width: 1200px) {
  .navbar-main-inner {
    & .navbar-main-search {
      width: 100%;
    }
    & .navbar-main__select {
      margin-left: 179px;
    }
  }
}
@media (min-width: 1300px) {
  .navbar-main-inner {
    & .navbar-main-search {
      margin-left: 60px;
    }
  }
}