@mixin buttons(){
    
    .btn{
        text-align: center;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 19px;        
        height: 49px;
        background-color: #12B6ED;
        border-radius: 63px;
        border: none;
        cursor: pointer;
        outline: none;
        text-transform: uppercase;
        transition: all 0.3s linear;
        &:hover{
          background-color: $btn-bg-hover;
        } 
    }
    
    .main-btn {
        margin-top: 50px;      
        width: 248px;        
      }
      
      .delete-account-btn{
        width: 248px;
        margin-top: 10px;       
    }
    
    .e-mail-button{
        width: 363px;
        margin-top: 50px;
        margin-bottom: 50px;    
    }
   
}
