// $heading-font-family:                       $global-font-family;
// $heading-font-weight:                       700;
// $heading-color:                             $global-emphasis-color;
// $heading-text-transform:                    none;
// $heading-margin-vertical:                   30px;

// $h1-font-size-m:                            $global-xxlarge-font-size;
// $h1-font-size:                              $h1-font-size-m - 10px;
// $h1-line-height:                            1.2;



// $h2-font-size-m:                            $global-xlarge-font-size ;
// $h2-font-size:                              $h2-font-size-m - 10px;
// $h2-line-height:                            1.3;
// $h3-font-size:                              $global-large-font-size;
// $h3-line-height:                            1.4;
// $h4-font-size:                              $global-medium-font-size;
// $h4-line-height:                            1.4;
// $h5-font-size:                              $global-font-size;
// $h5-line-height:                            1.4;
// $h6-font-size:                              $global-small-font-size;
// $h6-line-height:                            1.4;

//  h1, .heading-h1,
//  h2, .heading-h2,
//  h3, .heading-h3,
//  h4, .heading-h4,
//  h5, .heading-h5,
//  h6, .heading-h6 {
//      margin: 0 0 $heading-margin-vertical 0;
//      font-family: $heading-font-family;
//      font-weight: $heading-font-weight;
//      color: $heading-color;
//      text-transform: $heading-text-transform;
//  }
 
//  h1, .heading-h1 {
//      font-size: $h1-font-size;
//      line-height: $h1-line-height;
//  }
 
//  h2, .heading-h2 {
//      font-size: $h2-font-size;
//      line-height: $h2-line-height;
//  }
 
//  h3, .heading-h3 {
//      font-size: $h3-font-size;
//      line-height: $h3-line-height;
//  }
 
//  h4, .heading-h4 {
//      font-size: $h4-font-size;
//      line-height: $h4-line-height;
//  }
 
//  h5, .heading-h5 {
//      font-size: $h5-font-size;
//      line-height: $h5-line-height;
//  }
 
//  h6, .heading-h6 {
//      font-size: $h6-font-size;
//      line-height: $h6-line-height;
//  }
 
//  @media (min-width: $breakpoint-medium) {
 
//      h1, .heading-h1 { font-size: $h1-font-size-m; }
//      h2, .heading-h2 { font-size: $h2-font-size-m; }
 
//  }
 
//myActivityTab
// @mixin myActivityTab(){
//     .main-content{
//       .section-wrapper{
//         .title_in-cabinet {
//           font-family: 'Pollywog Cyr', sans-serif;
//           font-size: 27px;
//           line-height: 24px;
//           text-transform: uppercase;
//           color: #11B5ED;
//           position: relative;
//           padding-left: 80px;
//           margin-bottom: 40px;
//           &::before {
//               content: '\2022';
//               width: 11px;
//               height: 11px;
//               color: #12B6ED;
//               position: absolute;
//               left: 27px;
//           }
//           &::after {
//               content: '\2022';
//               width: 11px;
//               height: 11px;
//               color: #12B6ED;
//               position: absolute;
//               left: 415px;
//                 }
//             }
//         }
//     }
// }
