//tabs aside
@mixin tabs(){
    .left-side{ 
      position: relative;      
      .tabs{
        position: absolute;
        right: 0;
        padding-top: 20px;         
        width: 250px;
        background-color: white; 
        display: flex; 
        flex-flow: column;
        label {                                    
          position: relative;          
          text-align: left;               
          margin: 13px 0px;          
          margin-left: 70px;
          cursor: pointer;                   
          svg{            
            position: absolute;            
            top: -2px;
            left: -40px;
          }
        }
        label.menu-item{                                
          width: 180px;
        }
        input { 
          display: none;           
          font-size: 14px;
          line-height: 16px;                           
        }
        input:checked + label {                         
          color: $active-color;
          &::before {            
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: #00C0FF;
            left:173px;
            top: 3px;
            border-radius: 50%;
            z-index: 2;
          }
          &::after {
            content: '';            
            width: 52px;
            height: 30px;            
            position: absolute;
            background-color: #E5E5E5;            
            border-radius: 50%;                        
            right: -38px;
            top:-6px;
          }
          svg path {
              fill: $active-color;
          }
        }                       
      }
    }                                                
}
//main-content right box
@mixin content(){
  .main-content{
    .section-wrapper{
      section {         
        display: none;                                
        height: 100%;
        width: 100%; 
        .content{
          height: 100%;
        }        
      }
    }    
  }
}