// Font
$global-font-family:                           "Roboto"; 
$global-font-size:                             16px;
$global-line-height:                           1.5 ;

$global-xxlarge-font-size:                     42px;
$global-xlarge-font-size:                      32px;
$global-large-font-size:                       24px;
$global-medium-font-size:                      20px;
$global-small-font-size:                       14px;

// Colors

$global-color:                                #666;
$global-emphasis-color:                       #333;

$global-primary-color:                        green;
$global-inverse-color:                        #fff;

//Background

$global-background:                           #fff;

$global-primary-background:                   #1e87f0;
$global-secondary-background:                 #222;

$global-success-background:                   #32d296;
$global-warning-background:                   #faa05a;
$global-danger-background:                    #f0506e;


// Border

$global-border-width:                           1px;
$global-border:                               #e5e5e5;

// Breackpoints 

$breakpoint-xsmall:                             540px ; 
$breakpoint-small:                              768px ;  
$breakpoint-medium:                             960px ; 
$breakpoint-large:                              1200px ; 
$breakpoint-xlarge:                             1600px ; 

$breakpoint-xsmall-max:                         ($breakpoint-xsmall - 1) ;
$breakpoint-small-max:                          ($breakpoint-small - 1) ;
$breakpoint-medium-max:                         ($breakpoint-medium - 1) ;
$breakpoint-large-max:                          ($breakpoint-large - 1) ;
$breakpoint-xlarge-max:                         ($breakpoint-xlarge - 1) ;
