// Variables
// ========================================================================

// $width-small-width:                              150px !default;
// $width-medium-width:                             300px !default;
// $width-large-width:                              450px !default;
// $width-xlarge-width:                             600px !default;
// $width-xxlarge-width:                            750px !default;

.width-1-3 {
  width: 33.33%;
}
/* ========================================================================
   Component: Width
 ========================================================================== */


/* Equal child widths
 ========================================================================== */

// [class*='child-width'] > * {
//   box-sizing: border-box;
//   width: 100%;
// }

// .child-width-1-2 > * { width: 50%; }
// .child-width-1-3 > * { width: unquote('calc(100% * 1 / 3.001)'); }
// .child-width-1-4 > * { width: 25%; }
// .child-width-1-5 > * { width: 20%; }
// .child-width-1-6 > * { width: unquote('calc(100% * 1 / 6.001)'); }

// .child-width-auto > * { width: auto; }

/*
 * 1. Reset the `min-width`, which is set to auto by default, because
 *    flex items won't shrink below their minimum intrinsic content size.
 *    Using `1px` instead of `0`, so items still wrap into the next line,
 *    if they have zero width and padding and the predecessor is 100% wide.
 */

// .child-width-expand > :not([class*='width']) {
//   flex: 1;
//   /* 1 */
//   min-width: 1px;
// }

/* Phone landscape and bigger */
// @media (min-width: $breakpoint-small) {

//   .child-width-1-1\@s > * { width: 100%; }
//   .child-width-1-2\@s > * { width: 50%; }
//   .child-width-1-3\@s > * { width: unquote('calc(100% * 1 / 3.001)'); }
//   .child-width-1-4\@s > * { width: 25%; }
//   .child-width-1-5\@s > * { width: 20%; }
//   .child-width-1-6\@s > * { width: unquote('calc(100% * 1 / 6.001)'); }

//   .child-width-auto\@s > * { width: auto; }
//   .child-width-expand\@s > :not([class*='width']) {
//     flex: 1;
//     min-width: 1px;
//   }

// }

// /* Tablet landscape and bigger */
// @media (min-width: $breakpoint-medium) {

//   .child-width-1-1\@m > * { width: 100%; }
//   .child-width-1-2\@m > * { width: 50%; }
//   .child-width-1-3\@m > * { width: unquote('calc(100% * 1 / 3.001)'); }
//   .child-width-1-4\@m > * { width: 25%; }
//   .child-width-1-5\@m > * { width: 20%; }
//   .child-width-1-6\@m > * { width: unquote('calc(100% * 1 / 6.001)'); }

//   .child-width-auto\@m > * { width: auto; }
//   .child-width-expand\@m > :not([class*='width']) {
//     flex: 1;
//     min-width: 1px;
//   }

// }

// /* Desktop and bigger */
// @media (min-width: $breakpoint-large) {

//   .child-width-1-1\@l > * { width: 100%; }
//   .child-width-1-2\@l > * { width: 50%; }
//   .child-width-1-3\@l > * { width: unquote('calc(100% * 1 / 3.001)'); }
//   .child-width-1-4\@l > * { width: 25%; }
//   .child-width-1-5\@l > * { width: 20%; }
//   .child-width-1-6\@l > * { width: unquote('calc(100% * 1 / 6.001)'); }

//   .child-width-auto\@l > * { width: auto; }
//   .child-width-expand\@l > :not([class*='width']) {
//     flex: 1;
//     min-width: 1px;
//   }

// }

// /* Large screen and bigger */
// @media (min-width: $breakpoint-xlarge) {

//   .child-width-1-1\@xl > * { width: 100%; }
//   .child-width-1-2\@xl > * { width: 50%; }
//   .child-width-1-3\@xl > * { width: unquote('calc(100% * 1 / 3.001)'); }
//   .child-width-1-4\@xl > * { width: 25%; }
//   .child-width-1-5\@xl > * { width: 20%; }
//   .child-width-1-6\@xl > * { width: unquote('calc(100% * 1 / 6.001)'); }

//   .child-width-auto\@xl > * { width: auto; }
//   .child-width-expand\@xl > :not([class*='width']) {
//     flex: 1;
//     min-width: 1px;
//   }

// }


// /* Single Widths
//  ========================================================================== */

// /*
//  * 1. `max-width` is needed for the pixel-based classes
//  */

// [class*='width'] {
//   box-sizing: border-box;
//   width: 100%;
//   /* 1 */
//   max-width: 100%;
// }

// /* Halves */
// .width-1-2 { width: 50%; }

// /* Thirds */
// .width-1-3 { width: unquote('calc(100% * 1 / 3.001)'); }
// .width-2-3 { width: unquote('calc(100% * 2 / 3.001)'); }

// /* Quarters */
// .width-1-4 { width: 25%; }
// .width-3-4 { width: 75%; }

// /* Fifths */
// .width-1-5 { width: 20%; }
// .width-2-5 { width: 40%; }
// .width-3-5 { width: 60%; }
// .width-4-5 { width: 80%; }

// /* Sixths */
// .width-1-6 { width: unquote('calc(100% * 1 / 6.001)'); }
// .width-5-6 { width: unquote('calc(100% * 5 / 6.001)'); }

// /* Pixel */
// .width-small { width: $width-small-width; }
// .width-medium { width: $width-medium-width; }
// .width-large { width: $width-large-width; }
// .width-xlarge { width: $width-xlarge-width; }
// .width-xxlarge { width: $width-xxlarge-width; }

// /* Auto */
// .width-auto { width: auto; }

// /* Expand */
// .width-expand {
//   flex: 1;
//   min-width: 1px;
// }

// /* Phone landscape and bigger */
// @media (min-width: $breakpoint-small) {

//   /* Whole */
//   .width-1-1\@s { width: 100%; }

//   /* Halves */
//   .width-1-2\@s { width: 50%; }

//   /* Thirds */
//   .width-1-3\@s { width: unquote('calc(100% * 1 / 3.001)'); }
//   .width-2-3\@s { width: unquote('calc(100% * 2 / 3.001)'); }

//   /* Quarters */
//   .width-1-4\@s { width: 25%; }
//   .width-3-4\@s { width: 75%; }

//   /* Fifths */
//   .width-1-5\@s { width: 20%; }
//   .width-2-5\@s { width: 40%; }
//   .width-3-5\@s { width: 60%; }
//   .width-4-5\@s { width: 80%; }

//   /* Sixths */
//   .width-1-6\@s { width: unquote('calc(100% * 1 / 6.001)'); }
//   .width-5-6\@s { width: unquote('calc(100% * 5 / 6.001)'); }

//   /* Pixel */
//   .width-small\@s { width: $width-small-width; }
//   .width-medium\@s { width: $width-medium-width; }
//   .width-large\@s { width: $width-large-width; }
//   .width-xlarge\@s { width: $width-xlarge-width; }
//   .width-xxlarge\@s { width: $width-xxlarge-width; }

//   /* Auto */
//   .width-auto\@s { width: auto; }

//   /* Expand */
//   .width-expand\@s {
//     flex: 1;
//     min-width: 1px;
//   }

// }

// /* Tablet landscape and bigger */
// @media (min-width: $breakpoint-medium) {

//   /* Whole */
//   .width-1-1\@m { width: 100%; }

//   /* Halves */
//   .width-1-2\@m { width: 50%; }

//   /* Thirds */
//   .width-1-3\@m { width: unquote('calc(100% * 1 / 3.001)'); }
//   .width-2-3\@m { width: unquote('calc(100% * 2 / 3.001)'); }

//   /* Quarters */
//   .width-1-4\@m { width: 25%; }
//   .width-3-4\@m { width: 75%; }

//   /* Fifths */
//   .width-1-5\@m { width: 20%; }
//   .width-2-5\@m { width: 40%; }
//   .width-3-5\@m { width: 60%; }
//   .width-4-5\@m { width: 80%; }

//   /* Sixths */
//   .width-1-6\@m { width: unquote('calc(100% * 1 / 6.001)'); }
//   .width-5-6\@m { width: unquote('calc(100% * 5 / 6.001)'); }

//   /* Pixel */
//   .width-small\@m { width: $width-small-width; }
//   .width-medium\@m { width: $width-medium-width; }
//   .width-large\@m { width: $width-large-width; }
//   .width-xlarge\@m { width: $width-xlarge-width; }
//   .width-xxlarge\@m { width: $width-xxlarge-width; }

//   /* Auto */
//   .width-auto\@m { width: auto; }

//   /* Expand */
//   .width-expand\@m {
//     flex: 1;
//     min-width: 1px;
//   }

// }

// /* Desktop and bigger */
// @media (min-width: $breakpoint-large) {

//   /* Whole */
//   .width-1-1\@l { width: 100%; }

//   /* Halves */
//   .width-1-2\@l { width: 50%; }

//   /* Thirds */
//   .width-1-3\@l { width: unquote('calc(100% * 1 / 3.001)'); }
//   .width-2-3\@l { width: unquote('calc(100% * 2 / 3.001)'); }

//   /* Quarters */
//   .width-1-4\@l { width: 25%; }
//   .width-3-4\@l { width: 75%; }

//   /* Fifths */
//   .width-1-5\@l { width: 20%; }
//   .width-2-5\@l { width: 40%; }
//   .width-3-5\@l { width: 60%; }
//   .width-4-5\@l { width: 80%; }

//   /* Sixths */
//   .width-1-6\@l { width: unquote('calc(100% * 1 / 6.001)'); }
//   .width-5-6\@l { width: unquote('calc(100% * 5 / 6.001)'); }

//   /* Pixel */
//   .width-small\@l { width: $width-small-width; }
//   .width-medium\@l { width: $width-medium-width; }
//   .width-large\@l { width: $width-large-width; }
//   .width-xlarge\@l { width: $width-xlarge-width; }
//   .width-xxlarge\@l { width: $width-xxlarge-width; }

//   /* Auto */
//   .width-auto\@l { width: auto; }

//   /* Expand */
//   .width-expand\@l {
//     flex: 1;
//     min-width: 1px;
//   }

// }

// /* Large screen and bigger */
// @media (min-width: $breakpoint-xlarge) {

//   /* Whole */
//   .width-1-1\@xl { width: 100%; }

//   /* Halves */
//   .width-1-2\@xl { width: 50%; }

//   /* Thirds */
//   .width-1-3\@xl { width: unquote('calc(100% * 1 / 3.001)'); }
//   .width-2-3\@xl { width: unquote('calc(100% * 2 / 3.001)'); }

//   /* Quarters */
//   .width-1-4\@xl { width: 25%; }
//   .width-3-4\@xl { width: 75%; }

//   /* Fifths */
//   .width-1-5\@xl { width: 20%; }
//   .width-2-5\@xl { width: 40%; }
//   .width-3-5\@xl { width: 60%; }
//   .width-4-5\@xl { width: 80%; }

//   /* Sixths */
//   .width-1-6\@xl { width: unquote('calc(100% * 1 / 6.001)'); }
//   .width-5-6\@xl { width: unquote('calc(100% * 5 / 6.001)'); }

//   /* Pixel */
//   .width-small\@xl { width: $width-small-width; }
//   .width-medium\@xl { width: $width-medium-width; }
//   .width-large\@xl { width: $width-large-width; }
//   .width-xlarge\@xl { width: $width-xlarge-width; }
//   .width-xxlarge\@xl { width: $width-xxlarge-width; }

//   /* Auto */
//   .width-auto\@xl { width: auto; }

//   /* Expand */
//   .width-expand\@xl {
//     flex: 1;
//     min-width: 1px;
//   }

// }
