<div class="page">
    <div class="main-page">
        <ul class="site-address-bar">
            <li><a id="main-link" routerLinkActive = 'active' routerLink="" class="main-link">Главная</a></li>
            <li class="site-address-bar-item"><a id="search-link" routerLinkActive='active' routerLink="/search">Поиск</a></li>
            <li class="site-address-bar-item current">Результаты поиска {{filterDescription}}</li>
        </ul>
        <div class="search-results-page">
            <aside class="aside">
                <form [formGroup]="filterFormGroupControl">
                    <fieldset>
                        <div class="filter-title">
                            <legend>Фильтр</legend>
                        </div>
                        <span class="filter-title-name">Локация:</span>
                        <div class="filter-values-wrapper">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Область" aria-label="Область" matInput [formControl]="region1Control"
                                [matAutocomplete]="auto" (ngModelChange)="checkFilter2($event)">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let region1 of filteredRegion1 | async" [value]="region1">
                                        {{region1}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Район" aria-label="Район" matInput [formControl]="region2Control"
                                [matAutocomplete]="auto2" (ngModelChange)="updateFilter($event)">
                                <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                                    <mat-option *ngFor="let region2 of filteredRegion2| async" [value]="region2">
                                        {{region2}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <span class="filter-title-name">Пол:</span>                             
                        <div class="filter-values-wrapper">
                            <label class="container">Женский
                                <input type="checkbox"  id="sex" name="sex-group" checked 
                                    [formControl]="genderControlW" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>
                            
                            <label class="container">Мужской
                                <input type="checkbox" [formControl]="genderControlM" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>
                            
                            <label class="container">Унисекс
                                <input type="checkbox" [formControl]="genderControlU" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>                            
                        </div>
                        <span class="filter-title-name">Возраст:</span>
                        <div class="filter-values-wrapper">
                            <label class="container">0
                                <input type="checkbox" [formControl]="ageControl1" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>  
                            <label class="container">1-2
                                <input type="checkbox" [formControl]="ageControl2" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>  
                            <label class="container">3-4
                                <input type="checkbox" [formControl]="ageControl3" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>  
                            <label class="container">5-7
                                <input type="checkbox" [formControl]="ageControl4" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>                                                                                      
                            <label class="container">8-11
                                <input type="checkbox" [formControl]="ageControl5" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>                                                                                      
                            <label class="container">11-14
                                <input type="checkbox" [formControl]="ageControl6" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>                                                                                      
                        </div>
                        <span class="filter-title-name">Размер (одежда):</span>
                        <div class="filter-values-wrapper">
                            <label class="container">50 - 80 см
                                <input type="checkbox" [formControl]="sizeControl1" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>  
                            <label class="container">80 - 92 см
                                <input type="checkbox" [formControl]="sizeControl2" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>  
                            <label class="container">92 - 104 см
                                <input type="checkbox" [formControl]="sizeControl3" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>  
                            <label class="container">104 - 122 см
                                <input type="checkbox" [formControl]="sizeControl4" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>                                                                                      
                            <label class="container">122 - 146 см
                                <input type="checkbox" [formControl]="sizeControl5" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>                                                                                      
                            <label class="container">146 -164 см
                                <input type="checkbox" [formControl]="sizeControl6" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>                                                                                      
                        </div>
                        <span class="filter-title-name">Сезон:</span>                         
                        <div class="filter-values-wrapper">
                            <label class="container">Демисезон
                                <input type="checkbox"  id="sex1" name="sex-group" checked
                                [formControl]="seasonControlU" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>
                            
                            <label class="container">Лето
                                <input type="checkbox"
                                [formControl]="seasonControlS" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>
                            
                            <label class="container">Зима
                                <input type="checkbox"
                                [formControl]="seasonControlW" (change)="updateFilter($event)">
                                <span class="checkmark"></span>
                            </label>                         
                        </div>
                    </fieldset>
                </form>
            </aside>
            <div class="search-results-cards">
                <div class="sorted">
                    <form action="#">
                        <fieldset>
                            <button class="list-style active"><span>&#8942;&#8942;&#8942;</span></button>
                            <button class="list-style "><span>&#8942;&#8801;</span></button>
                            <span>Показать:</span>
                            <select class="form-control sorted-pagging" [formControl]="showPaggingControl" (change)="updateFilter($event)">
                                <option value="showPagging15">15</option>
                                <option value="showPagging10">10</option>
                                <option value="showPagging5">5</option>
                            </select>	
                            <span>Сортировать:</span>	
                            <select class="form-control sorted-sort" [formControl]="showSortControl" (change)="updateFilter($event)">
                                <option value="showSortNone">Без сортировки</option>
                                <option value="showSortByDate">По дате</option>
                            </select>
                        </fieldset>
                    </form>
                </div>
                <h2>результаты поиска</h2>
                <div class="search-results">                
                    <app-card-item class="search-results-item"
                    *ngFor="let card of listCards|async"
                    [card]="card"
                    (addToFavouritesAction)="addToFavouritesAction($event)"
                    ></app-card-item>                
                </div>
            </div>        
        </div>
    </div>
</div>