
.cloudsInner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 1;


  .cloudOne {
    position: absolute;
    top: 190px;
    left: 3vh;
    width: 184px;
    height: 131px;
    background-image: url(../../../../img/clouds/Cloud1.png);
    background-position: center center;
    background-repeat: no-repeat;

    animation-name: moveOne;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;


  }

  @keyframes moveOne {
    0% {
      left: 3vw;
    }
    87.3% {
      opacity: 1;
      left: 100vw;
    }
    87.4% {
      opacity: 0;
      left: 100vw;
    }
    87.5% {
      opacity: 0;
      left: -10vw;
    }
    87.6% {
      opacity: 1;
    }
    100% {
      left: 3vw;
    }
  }


  .cloudTwo {
    position: absolute;
    bottom: 200px;
    right: 2vw;
    width: 184px;
    height: 131px;

    background-image: url(../../../../img/clouds/Cloud1.png);
    background-position: center center;
    background-repeat: no-repeat;


    animation-name: moveTwo;
    animation-duration: 180s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0.6;

  }

  @keyframes moveTwo {
    0% {
      right: 2vw;
    }
    88.2% {
      opacity: 1;
      right: 100vw;
    }
    88.3% {
      opacity: 0;
      right: 100vw;
    }
    88.4% {

      opacity: 0;
      right: -10vw;
    }
    88.5% {

      opacity: 1;
    }
    100% {
      right: 2vw;
    }
  }

  .cloudThree {
    position: absolute;
    top: 325px;
    right: 12vw;
    width: 190px;
    height: 119px;
    background-image: url(../../../../img/clouds/Cloud2.png);
    background-position: center center;
    background-repeat: no-repeat;


    animation-name: moveThree;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0.8;
  }

  @keyframes moveThree {
    0% {
      right: 12vw;
    }
    79.2% {
      opacity: 1;
      right: 100vw;
    }
    79.3% {
      opacity: 0;
      right: 100vw;
    }
    79.4% {

      opacity: 0;
      right: -10vw;
    }
    79.5% {

      opacity: 1;
    }
    100% {
      right: 12vw;
    }
  }

  .cloudFour {
    position: absolute;
    bottom: 300px;
    left: 42vw;
    width: 190px;
    height: 119px;
    background-image: url(../../../../img/clouds/Cloud2.png);
    background-position: center center;
    background-repeat: no-repeat;


    animation-name: moveFour;
    animation-duration: 130s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    opacity: 0.7;
  }

  @keyframes moveFour {
    0% {
      left: 42vw;
    }
    52.2% {
      opacity: 1;
      left: 100vw;
    }
    52.3% {
      opacity: 0;
      left: 100vw;
    }
    52.4% {

      opacity: 0;
      left: -10vw;
    }
    52.5% {

      opacity: 1;
    }
    100% {
      left: 42vw;
    }
  }

  .cloudFive {
    position: absolute;
    bottom: 370px;
    left: 11vw;
    width: 106px;
    height: 67px;
    background-image: url(../../../../img/clouds/Cloud3.png);
    background-position: center center;
    background-repeat: no-repeat;

    animation-name: moveFive;
    animation-duration: 55s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;

  }

  @keyframes moveFive {
    0% {
      left: 11vw;
    }
    86.3% {
      opacity: 1;
      left: 100vw;
    }
    86.4% {
      opacity: 0;
      left: 100vw;
    }
    86.5% {
      opacity: 0;
      left: -3vw;
    }
    86.6% {
      opacity: 1;
    }
    100% {
      left: 11vw;
    }
  }

  .cloudSix {
    position: absolute;
    top: 370px;
    right: 26vw;
    width: 106px;
    height: 67px;
    background-image: url(../../../../img/clouds/Cloud3.png);
    background-position: center center;
    background-repeat: no-repeat;


    animation-name: moveSix;
    animation-duration: 90s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes moveSix {
    0% {
      right: 26vw;
    }
    71.78% {
      opacity: 1;
      right: 100vw;
    }
    71.79% {
      opacity: 0;
      right: 100vw;
    }
    71.8% {

      opacity: 0;
      right: -3vw;
    }
    71.82% {

      opacity: 1;
    }
    100% {
      right: 26vw;
    }
  }
}