@import "../../fonts/font";

.titleBigBlue {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 24px;
  color: #11b5ed;
  @include font(Pollywog_Cyr);

  &:before,
  &:after {
    display: inline-block;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #11b5ed;
    margin-bottom: 5px;
  }
  &:before {
    margin-right: 27px;
  }
  &:after {
    margin-left: 27px;
  }
}