<div class="footer">
    <div class="footer__container">
            <div class="footer__item">
                    <img src="../../assets/icons/footer/contacts/phone.png" alt="phone">
                    <p class="footer__graph email">email.obmenyashka@gmail.com</p>
                    <p class="footer__tel">+3 80 (93) 123 45 67</p>
                    <p class="footer__tel">+3 80 (93) 123 45 67</p>
                </div>
                <div class="footer__item">
                    <img src="../../assets/icons/footer/contacts/information.png" alt="information">
                    <p class="footer__graph">Правила безопасной сделки</p>
                    <p class="footer__graph">Благотворительные организации</p>
                    <p class="footer__graph">Часто задаваемые вопросы</p>
                 
                </div>
                <div class="footer__item">
                    <img src="../../assets/icons/footer/contacts/home.png" alt="home">
                    <img src="../../assets/icons/footer/logo_footer.png" alt="logo_footer">
                       <button class="footer__button">
                        <img src="../../assets/icons/footer/heart-mini.png" alt="heart-mini" class="footer__button_img">
                        <span class="footer__button_graph">Благотворительность</span>

                    </button>
                
                </div>
    </div>
     <div class="copy">
                            <p class="footer__graph">© Все права защищены</p>
                            <p class="footer__graph">2019 / Обменяшка</p>
                    </div>
</div>
