<div class="cards__item">
    <div id="label" 
    class="cards__item_favorite" 
    [ngClass]="{'cards__item_favorite_add': card.isFavourite}"
    (click)="addToFavourites(card)">
    <div class="cards__item_favorite_icon"></div>
    </div>
    <div class="cards__item_wrapper"><img [src]="card.img" alt="lot" class="cards__item_img"></div>
    <a href="" class="cards__item_graph"> 
        {{card.title}}
    </a>
    <a href="" class="cards__item_location">
        <img src="../../../assets/icons/cards/location.png" alt="">
        {{card.location}}
    </a>
    <button class="cards__item_button btn btn-shadow">
        смотреть
    </button>
</div>
