@import "../../partials/params";


//$checking: input [checked];

.login {
  .input_field {
    margin-bottom: 42px;

    .input_field:last-child {
      margin-bottom: 32px;
    }
  }

  .extra {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;

    .check {
      margin-right: 22px;
      @include IphoneFife-screen {
         margin-right: 10px;
       }
    }
  }

  .btn-auth {
    margin-bottom: 65px;
  }
}

.register {
  .input_field {
    margin-bottom: 22px;

    &:nth-child(4) {
      margin-bottom: 32px;
    }

    #email + span {
      @include IphoneTen-screen {
        bottom: -23px;
      }
    }

    #username + span {
      @include IphoneTen-screen {
        bottom: -23px;
      }
    }

    #password + span{
      @include large-screen{
        bottom: -23px;
      }
    }
  }

  .extra {
    margin-bottom: 24px;

    .checkbox {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .check + label {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .btn-auth {
    margin-bottom: 45px;
  }
}

.input_field {
  label {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: $colorGrey;

    cursor: pointer;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding: 12px 16px;
    width: 100%;
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;

    font-family: $fontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: $rightText;

    @include large-screen {
      margin-bottom: 12px;
    }
  }
}

.extra {
  .checkbox {
    #check {
      display: none;
    }

    #check:checked + label + label {
      color: $colorCheckLabel;
    }

    .check {
      box-sizing: border-box;
      display: inline-flex;
      cursor: pointer;
      width: 17px;
      height: 17px;
      border: 3px solid $colorGrey;

      svg{
        position: relative;
        top:1px;
      }

      & + label {
        font-family: $fontRoboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;

        color: $colorGrey;
        cursor: pointer;
      }
    }

    input:checked + label {
      border: 3px solid $colorButton;
      background-color: $colorButton;
    }
  }

  span a {
    font-family: $fontRoboto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: none;

    color: $colorButton;
  }
}

.btn-auth {
  width: 222px;
  height: 48px;
  background-color: $colorButton;
  border-radius: 24px;
  border: 0;
  outline: none;

  font-family: $fontFamily;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;

  color: #fdf9ff;

  &:hover {
    cursor: pointer;
    background-color: darken($colorButton, 5%);
  }

  &:active {
    background-color: darken($colorButton, 10%);
  }
  &:disabled {
    background-color:$colorGrey;//lighten($colorButton, 15%);
  }
}
